<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <title>Ostoslista</title>
    </head>
    <body>
        <div class="container">
            <h1 class="float-left mb-4">Ostoslista <%=tiedot[0].listanNimi%></h1>
            <a href="/" class="btn btn-secondary float-right mt-2 mb-4">Takaisin</a>
            
            <table class="table table-bordered">
                <tbody>
                    <%tiedot.forEach((tieto)=>{%>
                    <tr>
                        <td>
                            <%if(tieto.ostettu == 1){%>
                                <a href="/ostettu/<%=tieto.id%>?ostettu=true" style="color:#000"><span class="fas fa-check"></span></a>
                            <%}
                            else{%>
                                <a href="/ostettu/<%=tieto.id%>?ostettu=false" style="color:#000"><span class="fas fa-times"></span></a>
                            <%}%>
                        </td>
                        <td>
                            <%=tieto.sisalto%>
                        </td>
                        <td>
                            <p><a href="/muokkaaYhta/<%=tieto.id%>">Muokkaa</a></p>
                        </td>
                        <td>
                            <p><a href="/poista/<%=tieto.id%>">Poista</a></p>
                        </td>
                    </tr>
                    <%});%>
                    <tr>
                        <form method="POST" action="/lisaaListaan">
                            <td>
                                <input type="hidden" name="lista" value="<%=tiedot[0].listanNimi%>">
                                <input type="hidden" name="kayttaja" value="<%=tiedot[0].kayttajaId%>">
                                <input type="hidden" name="ostettu" value="0">
                            </td>
                            <td>
                                <input type="text" name="sisalto" class="form-control w-50 float-left">
                                <input type="submit" value="Lähetä" class="btn btn-primary float-right mr-3">
                            </td>
                        </form>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>